* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
}

.frame {
    position: absolute;
    border: 1px solid green;
    background: rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 100px;
    pointer-events: none;
}