<template>
    <transition name="slide-left">
        <div class="container" @click="goBack" :style="{ top }" v-if="active|| backFreezed">
            <img :src="require('@/assets/img/arrow-left.svg')" />
        </div>
    </transition>
</template>

<script>
import back from '@/mixins/back'

export default {
    props: {
        top: {
            type: String,
            default: '5%'
        },
        active: {
            type: Boolean,
            default: true
        },
        target: String,
        delay: Number,
    },
    methods: {
        goBack() {
            this.$emit('hide-request')
            setTimeout(() => {
                if (this.target) {
                    this.$router.push(this.target)
                } else {
                    this.$router.go(-1)
                }
            }, this.delay)
        }
    },
    mixins: [back]
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";
.container {
    position: absolute;
    background: @foreground;
    top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 20%;
}
</style>