<template>
    <transition name="clip-slide">
        <div
            class="wrap"
            v-if="active"
            :style="{ top: top, transform: `translateX(${(swiped - 100) / 3}%)` }"
            @touchstart="swipeManager"
            @touchmove="swipeManager"
            @touchend="swipeManager"
        >
            <img :src="memeSrc(select - 1)" alt="left pseudo image" />
            <img :src="memeSrc(select)" alt="main image" />
            <img :src="memeSrc(select + 1)" alt="right pseudo image" />
        </div>
    </transition>
</template>

<script>
import { apiURL } from '@/api/api'

export default {
    data() {
        return {
            swiped: 0,
            touchStart: 0
        }
    },
    model: {
        prop: 'select',
        event: 'selected'
    },
    props: {
        top: String,
        images: {
            type: Array,
            required: true
        },
        select: Number,
        postSwipeSpeed: {
            type: Number,
            default: 3
        },
        swipeAssist: {
            type: Number,
            default: 20
        },
        active: {
            type: Boolean,
            default: true
        },
        freeze: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        swipeManager(event) {
            if (this.freeze) return
            switch (event.type) {
                case 'touchstart':
                    this.touchStart = event.touches[0].clientX
                    break
                case 'touchmove':
                    this.swiped = (event.touches[0].clientX - this.touchStart) / document.documentElement.clientWidth * 100
                    break
                case 'touchend':
                    if (this.swiped > this.swipeAssist) {
                        this.selectPrev()
                        break
                    }
                    if (this.swiped < -this.swipeAssist) {
                        this.selectNext()
                        break
                    }
                    this.animateSwipedTo(0)
            }
        },
        selectNext() {
            const vm = this
            this.animateSwipedTo(-100, () => {
                vm.swiped = 0
                if (vm.select === vm.images.length - 1) {
                    vm.$emit('selected', 0)
                } else {
                    vm.$emit('selected', vm.select + 1)
                }
            })
        },
        selectPrev() {
            const vm = this
            this.animateSwipedTo(100, () => {
                vm.swiped = 0
                if (vm.select === 0) {
                    vm.$emit('selected', vm.images.length - 1)
                } else {
                    vm.$emit('selected', vm.select - 1)
                }
            })
        },
        animateSwipedTo(val, callback) {

            if ((val > this.swiped && val < this.swiped + this.postSwipeSpeed) ||
                (val < this.swiped && val > this.swiped - this.postSwipeSpeed)) {
                this.swiped = val
                if (callback) callback()
                return
            }
            if (val > this.swiped) this.swiped += this.postSwipeSpeed
            if (val < this.swiped) this.swiped -= this.postSwipeSpeed
            requestAnimationFrame(this.animateSwipedTo.bind(this, val, callback))
        },
        memeSrc(index) {
            let temp = index
            if (temp < 0) temp = this.images.length - 1
            if (temp > this.images.length - 1) temp = 0
            return `${apiURL}/memes/${this.images[temp]}`
        }
    },
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";

.wrap {
    position: absolute;
    left: 0;
    width: 300vw;
    aspect-ratio: 3/1;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    user-select: none;

    img {
        width: 100vw;
    }
}

// animation

.clip-slide-enter-active, .clip-slide-leave-active {
    transition: margin-left .5s;
    clip-path: polygon(33.3333% 0, 66.6666% 0, 66.6666% 100%, 33.3333% 100%);;
}

.clip-slide-enter, .clip-slide-leave-to {
    margin-left: 100%;
}

.clip-slide-enter-to, .clip-slide-leave {
    margin-left: 0;
}

</style>