<template>
    <input type="text" @input="type" :value="typed | codeDecoration" placeholder=" - - - " ref="input">
</template>

<script>
export default {
    model: {
        prop: 'value',
        event: 'input'
    },
    data() {
        return {
            typed: '',
        }
    },
    props: {
        value: String
    },
    methods: {
        type(event) {
            if ((event.inputType === 'deleteContentBackward' && 
                this.typed.length > 0) || 
                (event.inputType === 'insertCompositionText' && 
                event.data === this.$options.filters.codeDecoration(this.typed).substring(0, 6))) {
                    this.typed = this.typed.slice(0, -1)
            }
            if ((event.inputType === 'insertText' || event.inputType === 'insertCompositionText' ) && 
                /^[a-zA-Z0-9]{1}$/.test(event.data) && 
                this.typed.length < 4) {
                    this.typed += event.data
            } else {
                this.$refs.input.value = this.$options.filters.codeDecoration(this.typed)
            }
            this.$emit('input', this.typed)
        },
        setValueProp(val) {
            if (/^[a-zA-Z0-9]{4}$/.test(val)) this.typed = val
        }
    },
    watch: {
        value (val) {
            this.setValueProp(val)
        }
    },
    mounted() {
        this.setValueProp(this.value)
    },
    filters: {
        codeDecoration(val) {
            if (!val || val.length > 4) return ''
            return val.split('').map(chr => chr.toUpperCase()).join('-') + '- '.repeat(4 - val.length)
        }
    }
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";

input {
    outline: none;
    border: none;
    font-size: 1.7em;
    width: 70vw;
    overflow: visible;
    color: @background;
    text-align: center;

    &::placeholder {
        color: @background;
        opacity: .7;
    }
    
}
</style>