<template>
    <div class="wrap">
        <div class="square" v-for="n in count" :class="{ active: n - 1 === selected }" :key="n"></div>
    </div>
</template>

<script>
export default {
    props: {
        count: {
            type: Number,
            required: true
        },
        selected: {
            type: Number,
            required: true
        }
    },
    methods: {

    },
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";

@size: .4em;

.wrap {
    width: max-content;
    height: @size;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    align-items: center;

    .square {
        width: @size;
        height: calc(@size / 3);
        transition: 0.3s;
        background: @background;
        margin: 0 1%;

        &.active {
            height: calc(@size / 3 * 2);
        }
    }
}
</style>