<template>
    <div>
        <transition name="slide">
            <span v-if="label !== '' && active">{{label}}</span>
        </transition>
        <input type="text" :value="value" @input="$emit('input', $event.target.value)" :placeholder="placeholder">
    </div>
</template>

<script>
export default {
    model: {
        prop: 'value',
        event: 'input'
    },
    props: {
        active: {
            type: Boolean,
            default: true
        },
        value: String,
        placeholder: String,
        label: String
    }
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";

input {
    outline: none;
    border: none;
    font-size: 1em;
    width: 50vw;
    overflow: visible;
    color: @background;

    &::placeholder {
        color: @background;
        opacity: .7;
    }
}

span {
    position: absolute;
    top: -1.2em;
    color: @foreground;
    font-size: .7em;
    z-index: -1;
}

// animation

.slide-enter-active, .slide-leave-active {
    transition: transform .5s;
}

.slide-enter, .slide-leave-to {
    transform: translateY(100%);
}

.slide-enter-to, .slide-leave {
    transform: translateY(0);
}
</style>