<template>
    <label class="switch" :style="{height}">
        <input type="checkbox" :checked="checked" @change="$emit('change', $event.target.checked)" />
        <span class="slider"></span>
    </label>
</template>

<script>
export default {
    model: {
        prop: 'checked',
        event: 'change'
    },
    props: {
        checked: Boolean,
        height: {
            type: String,
            default: "30%",
        },
    },
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";

.switch {
  position: relative;
  height: 30%;
  aspect-ratio: 1.8/1;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: @background;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 70%;
  aspect-ratio: 1/1;
  left: 15%*.8;
  bottom: 15%;
  background-color: @foreground;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  transform: translateX(100%);
}

</style>