<template>
    <transition :name="right ? 'slide-right' : 'slide-left'">
        <div class="container" :style="{ top, bottom, fontSize }" v-if="active" @click="containerClick">
            <slot></slot>
        </div>
    </transition>
</template>

<script>
export default {
    props: {
        top: {
            type: String,
            default: "auto"
        },
        bottom: {
            type: String,
            default: "auto"
        },
        right: {
            type: Boolean,
            default: false
        },
        active: {
            type: Boolean,
            default: true
        },
        button: {
            type: Boolean,
            default: false
        },
        fontSize: {
            type: String,
            default: '2.5em'
        }
    },
    methods: {
        containerClick () {
            if (this.button) {
                this.$emit('click')
            }
        }
    },
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";

.container {
    background: @foreground;
    color: @background;
    position: absolute;
    width: 100%;
    padding: 4% 0;
    left: 0;
    text-align: center;
}
</style>