<template>
    <input type="text" :value="value" @input="$emit('input', $event.target.value)" :placeholder="placeholder">
</template>

<script>
export default {
    model: {
        prop: 'value',
        event: 'input'
    },
    props: {
        value: String,
        placeholder: String,
    }
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";

input {
    outline: none;
    border: none;
    font-size: .7em;
    width: 70vw;
    color: @background;
    text-align: center;
    margin: 0;

    &::placeholder {
        color: @background;
        opacity: .7;
    }
}

</style>