<template>
    <transition name="notify">
        <div class="notification" v-if="show">
            {{notification}}
        </div>
    </transition>
</template>

<script>
import vals from '@/assets/vals.json'

export default {
    data() {
        return {
            notification: "",
            show: false
        }
    },
    computed: {
        queue () {
            return this.$store.state.notifier.notifications
        }
    },
    watch: {
        queue (val) {
            if (!val[0]) return
            this.notification = val[0]
            this.show = true
            const vm = this
            setTimeout(() => {
                vm.show = false
                setTimeout(() => {
                    vm.$store.commit('notifier/pop')
                }, vals.delays.notifyAppear);
            }, vals.delays.notify - vals.delays.notifyAppear)
        }
    },
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";

.notification {
    background: @background;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: max-content;
    color: @foreground;
    text-align: center;
    font-size: 2em;
    padding: .5em;
    word-wrap: break-word;
    box-sizing: border-box;
    box-shadow: 0 0 3px @foreground;
}

// animation

.notify-enter-active, .notify-leave-active {
    transition: transform .3s;
}

.notify-enter, .notify-leave-to {
    transform: translateY(-100%);
}

.notify-enter-to, .notify-leave {
    transform: translateY(0);
}
</style>