<template>
    <transition :name="right ? 'slide-right' : 'slide-left'">
        <div
            class="container"
            ref="container"
            :class="{ left, right }"
            :style="{ top, bottom }"
            @click="containerClick"
            v-if="active"
        >
            <slot></slot>
        </div>
    </transition>
</template>

<script>
import vals from '@/assets/vals.json'

export default {
    props: {
        top: {
            type: String,
            default: "auto"
        },
        bottom: {
            type: String,
            default: "auto"
        },
        right: {
            type: Boolean,
            default: false
        },
        button: {
            type: Boolean,
            default: false
        },
        active: {
            type: Boolean,
            default: true
        },
        shake: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        left() {
            return !this.right
        }
    },
    methods: {
        containerClick () {
            if (this.button) {
                this.$emit('click')
            }
        },
        shakeIt () {
            this.$refs.container.animate([
                {transform: `translateX(0%)`},
                {transform: `translateX(${this.right ? '' : '-'}5%)`},
                {transform: `translateX(0%)`},
                {transform: `translateX(${this.right ? '' : '-'}2%)`},
                {transform: `translateX(0%)`}
            ], {
                duration: vals.delays.containerShake,
            })
        }
    },
    watch: {
        shake (shake) {
            if (shake) {
                this.shakeIt()
                setTimeout(() => {
                    this.$emit("shaked")
                }, vals.delays.containerShake)
            }
        }
    },
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";

.container {
    background: @foreground;
    color: @background;
    position: absolute;
    font-size: 2.3em;
    max-width: 85%;
    min-width: 55%;
    width: max-content;
    padding: 5% 0;
    box-sizing: border-box;

    &.left {
        padding-right: 8%;
        padding-left: 3%;
        text-align: right;
        left: 0;
    }

    &.right {
        padding-left: 8%;
        padding-right: 3%;
        text-align: left;
        right: 0;
    }
}
</style>