<template>
    <transition name="slide-left">
        <div class="bar" :style="{top, width: `${(100-range) + range*from}%`}" ref="bar" v-if="active"><slot></slot></div>
    </transition>
</template>

<script>
import vals from '@/assets/vals'

export default {
    data() {
        return {
            range: 80
        }
    },
    props: {
        active: {
            type: Boolean,
            default: true
        },
        top: {
            type: String,
            default: '0'
        },
        from: Number,
        to: Number,
    },
    mounted() {
        const vm = this
        setTimeout(() => {
            vm.$refs.bar.animate([
                {width: `${(100-vm.range) + vm.range*(vm.from > 1 ? 1 : vm.from)}%`},
                {width: `${(100-vm.range) + vm.range*(vm.to > 1 ? 1 : vm.to)}%`}
            ], {
                duration: vals.delays.slide,
                fill: 'forwards'
            })
        }, vals.delays.slide)
    },
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";
.bar {
    position: absolute;
    left: 0;
    font-size: 1.5em;
    padding: 3%;
    background: @foreground;
    color: @background;
    text-align: right;
}

</style>