<template>
    <transition name="slide-left">
        <h1 :style="{ top }" v-if="active">
            <slot></slot>{{ dots }}
        </h1>
    </transition>
</template>

<script>

export default {
    data() {
        return {
            dots: '',
            dot: '.'
        }
    },
    props: {
        period: {
            type: Number,
            default: 200,
            validator: p => p > 0
        },
        top: String,
        active: {
            type: Boolean,
            default: true
        }
    },
    mounted() {
        const vm = this
        this.interval = setInterval(() => {
            if (vm.dots.length < 3) {
                vm.dots += vm.dot
            } else {
                vm.dots = ''
            }
        }, this.period)
    },
    destroyed() {
        clearInterval(this.interval)
    },
}

</script>

<style lang="less" scoped>
@import "@/bundle.less";

h1 {
    position: absolute;
    left: 3%;
    font-size: 2.5em;
    color: @foreground;
    width: min-content;
    word-wrap: break-word;
}
</style>