<template>
    <div>
        <HrContainer top="2%" :active="viewActive && content.titleActive">{{ content.title }}</HrContainer>

        <CarouselGalary
            :top="galaryPosition"
            :active="viewActive"
            :images="myHand"
            v-model="memeSelected"
            :freeze="content.stage !== 'select_card'"
        ></CarouselGalary>
        <HrContainer
            right
            :top="`calc(${galaryPosition} + 100vw - 1px)`"
            :active="viewActive && content.galaryFooterActive"
        >
            <ContainedGalaryProgress
                :count="myHand.length"
                :selected="memeSelected"
                v-if="content.stage === 'select_card'"
            ></ContainedGalaryProgress>
            <HrContainedInput v-else v-model="memeDescription" :placeholder="lang.write_here"></HrContainedInput>
        </HrContainer>

        <HrContainer
            bottom="5%"
            button
            @click="progressNextState"
            :active="viewActive && content.buttonActive"
        >{{ content.button }}</HrContainer>
    </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'

import lang from '@/mixins/lang'
import vals from '@/assets/vals'
import HrContainer from '@/components/HrContainer.vue'
import CarouselGalary from '@/components/CarouselGalary.vue'
import ContainedGalaryProgress from '@/components/ContainedGalaryProgress.vue'
import HrContainedInput from '@/components/HrContainedInput.vue'

const { mapGetters } = createNamespacedHelpers('game')

export default {
    data() {
        return {
            viewActive: false,
            content: {
                stage: 'select_card',
                title: '',
                button: '',
                titleActive: true,
                galaryFooterActive: true,
                buttonActive: true,
            },
            memeSelected: 0,
            memeDescription: ''
        }
    },
    computed: {
        ...mapGetters(['myHand']),
        galaryPosition() {
            return vals.positions.galary
        }
    },
    methods: {
        setActive(value, callback) {
            const vm = this
            vm.viewActive = value
            setTimeout(() => {
                if (callback) callback()
            }, vals.delays.slide)
        },
        progressNextState() {
            const vm = this
            switch (this.content.stage) {
                case 'select_card':
                    vm.$set(this.content, 'stage', 'write_disc')
                    this.setSubActives(false, false, false)
                    setTimeout(() => {
                        vm.$set(this.content, 'title', this.lang.generate_title)
                        vm.$set(this.content, 'button', this.lang.ok)
                        vm.setSubActives(true, true, true)
                    }, vals.delays.slide)
                    break
                case 'write_disc':
                    if (!this.memeDescription) {
                        this.$store.dispatch("notify", 'текст пуст')
                        break
                    }
                    this.setSubActives(true, true, false)
                    this.$store.dispatch("game/send", JSON.stringify({
                        cmd: "choose",
                        card: this.myHand[this.memeSelected],
                        description: this.memeDescription
                    }))
                    break
            }
        },
        setSubActives(title, gFooter, button) {
            this.$set(this.content, 'titleActive', title)
            this.$set(this.content, 'galaryFooterActive', gFooter)
            this.$set(this.content, 'buttonActive', button)
        }
    },
    mounted() {
        this.$set(this.content, 'title', this.lang.choose_meme)
        this.$set(this.content, 'button', this.lang.next)
        this.setActive(true)
    },
    beforeDestroy() {
        this.setActive(false)
    },
    mixins: [lang],
    components: { HrContainer, CarouselGalary, ContainedGalaryProgress, HrContainedInput }
}
</script>