<template>
    <div>
        <HrContainer top="2%" :active="viewActive">подбери мем</HrContainer>

        <CarouselGalary :top="galaryPosition" :active="viewActive" :images="myHand" v-model="memeSelected"></CarouselGalary>
        <HrContainer
            :top="`calc(${galaryPosition} + 100vw - 1px)`"
            :active="viewActive"
            fontSize="1.5em"
        >{{ gameState.description }}</HrContainer>
        <HrContainer right :top="`calc(${galaryPosition} + 100vw + 1.5em)`" :active="viewActive">
            <ContainedGalaryProgress :count="myHand.length" :selected="memeSelected"></ContainedGalaryProgress>
        </HrContainer>

        <HrContainer bottom="5%" button @click="select" :active="viewActive">готово</HrContainer>
    </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'

import lang from '@/mixins/lang'
import vals from '@/assets/vals'
import HrContainer from '@/components/HrContainer.vue'
import CarouselGalary from '@/components/CarouselGalary.vue'
import ContainedGalaryProgress from '@/components/ContainedGalaryProgress.vue'

const { mapGetters, mapState } = createNamespacedHelpers('game')

export default {
    data() {
        return {
            viewActive: false,
            memeSelected: 0,
        }
    },
    computed: {
        ...mapGetters(['myHand']),
        ...mapState(['gameState']),
        galaryPosition() {
            return vals.positions.galary
        }
    },
    methods: {
        setActive(value, callback) {
            const vm = this
            vm.viewActive = value
            setTimeout(() => {
                if (callback) callback()
            }, vals.delays.slide)
        },
        select() {
            this.$store.dispatch("game/send", JSON.stringify({
                cmd: "answer",
                card: this.myHand[this.memeSelected]
            }))
        },
    },
    mounted() {
        this.setActive(true)
    },
    beforeDestroy() {
        this.setActive(false)
    },
    mixins: [lang],
    components: { HrContainer, CarouselGalary, ContainedGalaryProgress }
}
</script>