<template>
    <div>
        <HrContainer top="2%" :active="viewActive">найди оригинал</HrContainer>

        <CarouselGalary :top="galaryPosition" :active="viewActive" :images="answersSrc" v-model="memeSelected" :freeze="galaryFreezed"></CarouselGalary>
        <HrContainer
            :top="`calc(${galaryPosition} + 100vw - 1px)`"
            :active="viewActive"
            fontSize="1.5em"
        >{{ gameState.description }}</HrContainer>
        <HrContainer right :top="`calc(${galaryPosition} + 100vw + 1.5em)`" :active="viewActive && !galaryFreezed">
            <ContainedGalaryProgress :count="answers.length" :selected="memeSelected"></ContainedGalaryProgress>
        </HrContainer>

        <HrContainer
            bottom="5%"
            :active="viewActive && buttonActive"
            :button="buttonClickable"
            @click="select"
        >{{ buttonTitle }}</HrContainer>
    </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'

import lang from '@/mixins/lang'
import vals from '@/assets/vals'
import HrContainer from '@/components/HrContainer.vue'
import CarouselGalary from '@/components/CarouselGalary.vue'
import ContainedGalaryProgress from '@/components/ContainedGalaryProgress.vue'

const { mapState, mapGetters } = createNamespacedHelpers('game')

export default {
    data() {
        return {
            viewActive: false,
            buttonActive: true,
            buttonTitle: 'готово',
            buttonClickable: true,
            galaryFreezed: false,
            memeSelected: 0,
            answersBuff: []
        }
    },
    computed: {
        ...mapState(['gameState']),
        ...mapGetters(['answers', 'myHand']),
        galaryPosition() {
            return vals.positions.galary
        },
        answersSrc() {
            return this.answersBuff.map(({ meme }) => meme)
        }
    },
    methods: {
        setActive(value, callback) {
            const vm = this
            vm.viewActive = value
            setTimeout(() => {
                if (callback) callback()
            }, vals.delays.slide)
        },
        select () {
            this.galaryFreezed = true
            this.setButtonTitle('голосование идет')
            this.buttonClickable = false
            this.$store.dispatch("game/send", JSON.stringify({
                cmd: "assume",
                assume: this.answersSrc[this.memeSelected]
            }))
        },
        setButtonTitle(text) {
            this.buttonActive = false
            const vm = this
            setTimeout(() => {
                vm.buttonTitle = text
                vm.buttonActive = true
            }, vals.delays.slide)
        },
        checkMemeMine () {
            if (this.answersBuff[this.memeSelected].my) {
                if (this.buttonTitle !== 'это твой мем') {
                    this.setButtonTitle('это твой мем')
                    this.buttonClickable = false
                }
            } else {
                if (this.buttonTitle !== 'готово') {
                    this.setButtonTitle('готово')
                    this.buttonClickable = true
                }
            }
        }
    },
    watch: {
        memeSelected () {
            this.checkMemeMine()
        }
    },
    mounted() {
        this.answersBuff = this.answers
        this.checkMemeMine()
        this.setActive(true)
    },
    beforeDestroy() {
        this.setActive(false)
    },
    mixins: [lang],
    components: { HrContainer, CarouselGalary, ContainedGalaryProgress }
}
</script>