<template>
    <div>
        <HrContainer top="2%" :active="viewActive">варианты других</HrContainer>

        <CarouselGalary :top="galaryPosition" :active="viewActive" :images="answersSrc" v-model="memeSelected"></CarouselGalary>
        <HrContainer
            :top="`calc(${galaryPosition} + 100vw - 1px)`"
            :active="viewActive"
            fontSize="1.5em"
        >{{ gameState.description }}</HrContainer>
        <HrContainer right :top="`calc(${galaryPosition} + 100vw + 1.5em)`" :active="viewActive">
            <ContainedGalaryProgress :count="answers.length" :selected="memeSelected"></ContainedGalaryProgress>
        </HrContainer>

        <HrContainer bottom="5%" :active="viewActive">голосование идет</HrContainer>
    </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'

import lang from '@/mixins/lang'
import vals from '@/assets/vals'
import HrContainer from '@/components/HrContainer.vue'
import CarouselGalary from '@/components/CarouselGalary.vue'
import ContainedGalaryProgress from '@/components/ContainedGalaryProgress.vue'

const { mapState, mapGetters } = createNamespacedHelpers('game')

export default {
    data() {
        return {
            viewActive: false,
            memeSelected: 0,
        }
    },
    computed: {
        ...mapState(['gameState']),
        ...mapGetters(['answers']),
        galaryPosition() {
            return vals.positions.galary
        },
        answersSrc () {
            return this.answers.map(({meme}) => meme)
        }
    },
    methods: {
        setActive(value, callback) {
            const vm = this
            vm.viewActive = value
            setTimeout(() => {
                if (callback) callback()
            }, vals.delays.slide)
        },
    },
    mounted() {
        this.setActive(true)
    },
    beforeDestroy() {
        this.setActive(false)
    },
    mixins: [lang],
    components: { HrContainer, CarouselGalary, ContainedGalaryProgress }
}
</script>