<template>
    <TextWithDots top="39%" :active="viewActive">{{lang.player_is_thinking}}</TextWithDots>
</template>

<script>
import lang from '@/mixins/lang'
import vals from '@/assets/vals'
import TextWithDots from '@/components/TextWithDots.vue'

export default {
    data() {
        return {
            viewActive: false
        }
    },
    methods: {
        setActive(value, callback) {
            const vm = this
            vm.viewActive = value
            setTimeout(() => {
                if (callback) callback()
            }, vals.delays.slide)
        },
    },
    mounted() {
        this.setActive(true)
    },
    beforeDestroy() {
        this.setActive(false)
    },
    mixins: [lang],
    components: { TextWithDots }
}
</script>