<template>
<div>
    <ScoreBar
        v-for="(player, i) in players"
        :key="player.name"
        :active="viewActive"
        :top="`${(i + 1) * 15}%`"
        :from="player.old_score / winScore"
        :to="player.score / winScore"
    >{{ player.name }}</ScoreBar>
</div>
</template>

<script>
import lang from '@/mixins/lang'
import vals from '@/assets/vals'
import ScoreBar from '@/components/ScoreBar.vue'

export default {
    data() {
        return {
            viewActive: false,
            memeSelected: 0,
            winScore: this.$store.state.game.config.values.win_score
        }
    },
    computed: {
        players() {
            return Object.values(this.$store.state.game.gameState.players)
        }
    },
    methods: {
        setActive(value, callback) {
            const vm = this
            vm.viewActive = value
            setTimeout(() => {
                if (callback) callback()
            }, vals.delays.slide)
        }
    },
    mounted() {
        this.setActive(true)
    },
    beforeDestroy() {
        this.setActive(false)
    },
    mixins: [lang],
    components: { ScoreBar }
}
</script>