<template>
    <div>
        <header>оригинал:</header>

        <CarouselGalary :top="galaryPosition" :active="viewActive" :images="[gameState.players[gameState.chooser].answer]" freeze v-model="memeSelected"></CarouselGalary>
        <HrContainer
            :top="`calc(${galaryPosition} + 100vw - 1px)`"
            :active="viewActive"
            fontSize="1.5em"
        >{{ gameState.description }}</HrContainer>

        <footer v-html="footer"></footer>
    </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'

import lang from '@/mixins/lang'
import vals from '@/assets/vals'
import HrContainer from '@/components/HrContainer.vue'
import CarouselGalary from '@/components/CarouselGalary.vue'

const { mapState, mapGetters } = createNamespacedHelpers('game')

export default {
    data() {
        return {
            viewActive: false,
            memeSelected: 0
        }
    },
    computed: {
        ...mapState(['gameState', 'myId']),
        ...mapGetters(['me']),
        galaryPosition() {
            return vals.positions.galary
        },
        footer () {
            if (this.gameState.chooser === this.myId) return 'хороший мем, <br/> чел'
            if (this.gameState.players[this.gameState.chooser].answer === this.me.original_assumption) return 'ты <br/> угадал'
            return 'ты не <br/> угадал'
        },
    },
    methods: {
        setActive(value, callback) {
            const vm = this
            vm.viewActive = value
            setTimeout(() => {
                if (callback) callback()
            }, vals.delays.slide)
        }
    },
    mounted() {
        this.setActive(true)
    },
    beforeDestroy() {
        this.setActive(false)
    },
    mixins: [lang],
    components: { HrContainer, CarouselGalary }
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";

header {
    position: absolute;
    top: 5%;
    left: 7%;
    font-size: 2.5em;
}

footer {
    position: absolute;
    bottom: 10%;
    right: 7%;
    font-size: 2em;
    text-align: right;
}

</style>