<template>
    <div>
        <TextWithDots top="39%" :active="viewActive">{{lang.waiting_others}}</TextWithDots>
        <transition name="slide-right">
            <h2 v-if="viewActive">осталось {{ playersLeft }} <br/> человека</h2>
        </transition>
    </div>
</template>

<script>
import lang from '@/mixins/lang'
import vals from '@/assets/vals'
import TextWithDots from '@/components/TextWithDots.vue'

export default {
    data() {
        return {
            viewActive: false
        }
    },
    computed: {
        playersLeft () {
            return this.$store.getters['game/playersLeftToAnswerCount']
        }
    },
    methods: {
        setActive(value, callback) {
            const vm = this
            vm.viewActive = value
            setTimeout(() => {
                if (callback) callback()
            }, vals.delays.slide)
        },
    },
    mounted() {
        this.setActive(true)
    },
    beforeDestroy() {
        this.setActive(false)
    },
    mixins: [lang],
    components: { TextWithDots }
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";

h2 {
    position: absolute;
    right: 5%;
    bottom: 8%;
    text-align: right;
}
</style>