.slide-right-enter-active, .slide-right-leave-active {
    transition: transform .5s;
}

.slide-right-enter, .slide-right-leave-to {
    transform: translateX(100%);
}

.slide-right-enter-to, .slide-right-leave {
    transform: translateX(0);
}