.slide-left-enter-active, .slide-left-leave-active {
    transition: transform .5s;
}

.slide-left-enter, .slide-left-leave-to {
    transform: translateX(-100%);
}

.slide-left-enter-to, .slide-left-leave {
    transform: translateX(0);
}