<template>
  <div class="frame">
    <img :src="require('@/assets/img/background.png')" alt="background"/>
    <router-view />
    <NotifyManager></NotifyManager>
  </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'

import vals from '@/assets/vals.json'
import NotifyManager from "./components/NotifyManager.vue"

const { mapState } = createNamespacedHelpers('game')

export default {
  created() {
      this.heightSet();
      // window.addEventListener('resize', this.heightSet)
  },
  computed: {
    ...mapState(['gameState', 'config', 'socket'])
  },
  methods: {
      heightSet() {
          const doc = document.documentElement;
          doc.style.setProperty("--app-height", `${window.innerHeight}px`);
      },
      checkWrongPath(path) {
        if (this.socket) {
          if (!(
              (path === vals.routes.waitingRoom && this.config.states && this.gameState.state == this.config.states.opened) || 
              (path === vals.routes.game &&  this.config.states && this.gameState.state !== this.config.states.opened)
          )) {
              this.$store.dispatch('game/exit')
              if (path !== vals.routes.menu) {
                this.$store.dispatch('notify', 'отключение от игры')
                this.$router.push(vals.routes.menu)
              }
          }
        }
      }
  },
  watch: {
    $route ({path}) {
      this.checkWrongPath(path)
    }
  },
  mounted() {
    this.checkWrongPath(this.$route.path)
  },
  components: { NotifyManager }
}
</script>

<style lang="less">
@import "@/bundle.less";

* {
  padding: 0;
  margin: 0;
  font-family: 'Cera Pro Regular';
  user-select: none;
}

html { 
  height: 100%; 
  width: 100%;
}

body {
  background: @background;
  color: @foreground;
  height: 100%;
  width: 100%;
}

.frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--app-height);
  overflow-x: hidden;
  overflow-y: scroll;
}
</style>

<style lang="less" scoped>
img {
  width: 100%;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}
</style>