@font-face {
    font-family: 'Cera Pro Regular';
    src: url('./font-files/CeraPro-Regular.eot');
    src: url('./font-files/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('./font-files/CeraPro-Regular.woff') format('woff'),
    url('./font-files/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}