<template>
<div>
  <BackArrow @hide-request="backPrepare" :delay="backDelay" :active="viewActive"></BackArrow>
  <transition name="slide-right">
    <div class="about" v-if="viewActive">
      <RegularContainer :style="customContainerStyle">{{lang.about_game}}</RegularContainer>
      <div class="section" v-html="lang.about_text"></div>

      <RegularContainer :style="customContainerStyle">{{lang.desk_mode}}</RegularContainer>
      <div class="section" v-html="lang.desk_text"></div>
    </div>
  </transition>
</div>
</template>

<script>
import lang from "@/mixins/lang"
import vals from '@/assets/vals.json'
import back from '@/mixins/back'
import BackArrow from "@/components/BackArrow.vue"
import RegularContainer from '@/components/RegularContainer.vue'

export default {
  data() {
    return {
      viewActive: false,
      backDelay: vals.delays.slide,
      customContainerStyle: {
        position: "relative",
        marginTop: "5%",
        marginBottom: "5%",
        textAlign: "left"
      }
    }
  },
  methods: {
    backPrepare() {
      this.unFreezeBack()
      this.setActive(false)
    },
    setActive(value, callback) {
        const vm = this
        vm.viewActive = value
        setTimeout(() => {
            if (callback) callback()
        }, vals.delays.slide)
    }
  },
  mounted() {
    this.setActive(true)
  },
  components: {
    BackArrow,
    RegularContainer
  },
  mixins: [lang, back]
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";

.about {
  position: absolute;
  top: 13%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: max-content;
  padding-bottom: 10%;

  * {
    align-self: flex-end;
  }

  .section {
    align-self: center;
    font-size: 1.5em;
    width: 80%;
  }

}
</style>