<template>
    <div>
        <BackArrow
            @hide-request="backPrepare"
            :delay="backDelay"
            :active="viewActive"
        ></BackArrow>
        <RegularContainer
            top="30%"
            :active="viewActive"
            :shake="userNameShake"
            @shaked="userNameShake = false"
            style="text-align: left;"
        >
            <ContainedInput v-model="userName" :placeholder="lang.name" :label="lang.enter_name" :active="labelsActive"></ContainedInput>
        </RegularContainer>
        <RegularContainer
            button
            right
            top="50%"
            :active="viewActive"
            @click="proceed"
        >{{ lang.next }}</RegularContainer>
        <RegularContainer top="70%" :active="viewActive">
            <div class="deskWrap">
                <span class="text">
                    {{ lang.desk_mode_line_1 }}
                    <br />
                    {{ lang.desk_mode_line_2 }}
                </span>
                <ContainedSwitch v-model="desk" height="30%"></ContainedSwitch>
            </div>
        </RegularContainer>
    </div>
</template>

<script>
import lang from '@/mixins/lang'
import vals from '@/assets/vals.json'
import back from '@/mixins/back'
import BackArrow from "@/components/BackArrow.vue"
import RegularContainer from '@/components/RegularContainer.vue'
import ContainedInput from "@/components/ContainedInput.vue"
import ContainedSwitch from "@/components/ContainedSwitch.vue"

export default {
    data() {
        return {
            viewActive: false,
            labelsActive: false,
            backDelay: vals.delays.slide / 4 * 5,
            backFreeze: false,
            userName: "",
            userNameShake: false,
            desk: false
        }
    },
    methods: {
        proceed() {
            if (this.userName) {
                this.freezeBack()
                this.$store.dispatch("game/createLobby", {name: this.userName})
                this.setActive(false, this.$router.push.bind(this.$router, vals.routes.waitingRoom))
            } else {
                this.userNameShake = true
            }
        },
        backPrepare() {
            this.unFreezeBack()
            this.setActive(false)
        },
        setActive(value, callback) {
            const vm = this
            if (value) {
                vm.viewActive = value
            } else {
                vm.labelsActive = value
            }
            setTimeout(() => {
                if (value) {
                    vm.labelsActive = value
                } else {
                    vm.viewActive = value
                }
                setTimeout(() => {
                    if (callback) callback()
                }, vals.delays.slide)
            }, vals.delays.slide / 4)
        }
    },
    watch: {
        desk() {
            if (this.desk) {
                this.$store.dispatch('notify', 'Will be available later 🧑‍💻')
                setTimeout(() => { this.desk = false }, vals.delays.switchMove)
            }
        }
    },
    mounted() {
        this.setActive(true)
    },
    components: {
        BackArrow,
        RegularContainer,
        ContainedInput,
        ContainedSwitch
    },
    mixins: [lang, back]
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";

.deskWrap {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 10%;
    box-sizing: border-box;
    height: 10vh;
    width: 24vh;

    * {
        align-self: center;
    }

    .text {
        margin-right: 10%;
    }
}
</style>