<template>
    <div>
        <component :is="gameFrame"></component>
    </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'

import vals from '@/assets/vals.json'
import PlayerIsThinking from './gameFrames/PlayerIsThinking.vue'
import ChooseCard from './gameFrames/ChooseCard.vue'
import WaitingOthers from './gameFrames/WaitingOthers.vue'
import ChooseAnswer from './gameFrames/ChooseAnswer.vue'
import OthersVariants from './gameFrames/OthersVariants.vue'
import FindOriginal from './gameFrames/FindOriginal.vue'
import ShowOriginal from './gameFrames/ShowOriginal.vue'
import ShowScore from './gameFrames/ShowScore.vue'

const { mapState, mapGetters } = createNamespacedHelpers('game')

export default {
    data() {
        return {
            gameFrame: {
                        render(h) {
                            return h('h1', ['load...'])
                        },
                    }
        }
    },
    computed: {
        ...mapState({ game: 'gameState', myId: 'myId', config: 'config' }),
        ...mapGetters(['me']),
        state() {
            return this.game.state
        }
    },
    watch: {
        game() {
            let newFrame = this.getGameFrame()
            if (newFrame != this.gameFrame) this.gameFrame = this.getGameFrame()
        }
    },
    methods: {
        getGameFrame() {
            let states = this.config.states
            switch (this.game.state) {
                case states.choosing:
                    if (this.game.chooser === this.myId) {
                        return ChooseCard
                    } else {
                        return PlayerIsThinking
                    }
                case states.answering:
                    if (this.game.chooser === this.myId || this.me.answer !== '') {
                        return WaitingOthers
                    } else {
                        return ChooseAnswer
                    }
                case states.search_original:
                    if (this.game.chooser === this.myId) {
                        return OthersVariants
                    } else {
                        return FindOriginal
                    }
                case states.show_original:
                    return ShowOriginal
                case states.show_score:
                    return ShowScore
                case states.show_winner:
                    this.$router.push(vals.routes.showWinner)
                    window.localStorage.removeItem('reconnect_key')
                    this.$store.dispatch('game/exit')
                    break
                default:
                    return {
                        render(h) {
                            return h('h1', ['error'])
                        },
                    }
            }
        }
    },
    mounted() {
        this.gameFrame = this.getGameFrame()
    },
}
</script>