<template>
    <div>
        <BackArrow @hide-request="backPrepare" :delay="backDelay" :active="viewActive"></BackArrow>
        <transition name="slide-left">
            <div class="code" v-if="viewActive">{{lang.code}}:</div>
        </transition>
        <RegularContainer 
            top="25%" 
            right 
            :active="viewActive"
            :shake="codeShake"
            @shaked="codeShake = false">
            <ContainedCodeInput v-model="code"></ContainedCodeInput>
        </RegularContainer>
        <RegularContainer
            top="50%"
            :active="viewActive"
            :shake="userNameShake"
            @shaked="userNameShake = false"
            style="text-align: left;"
        >
            <ContainedInput v-model="userName" :placeholder="lang.name" :label="lang.enter_name" :active="labelsActive"></ContainedInput>
        </RegularContainer>
        <RegularContainer top="70%" right button :active="viewActive" @click="proceed">{{lang.next}}</RegularContainer>
    </div>
</template>

<script>
import lang from '@/mixins/lang'
import back from '@/mixins/back'
import vals from '@/assets/vals.json'
import * as api from '@/api/api'
import BackArrow from "@/components/BackArrow.vue"
import RegularContainer from '@/components/RegularContainer.vue'
import ContainedCodeInput from '@/components/ContainedCodeInput.vue'
import ContainedInput from '@/components/ContainedInput.vue'

export default {
    data() {
        return {
            viewActive: false,
            backDelay: vals.delays.slide / 4 * 5,
            code: '',
            userName: '',
            userNameShake: false,
            codeShake: false,
            labelsActive: false
        }
    },
    methods: {
        async proceed() {
            if (!this.userName) this.userNameShake = true
            if (this.code.length < 4) this.codeShake = true
            if (!this.userName || this.code.length < 4) return
            switch (await api.JoinPermited(this.userName, this.code)) {
                case "ok":
                    break
                case "no such lobby":
                    this.codeShake = true
                    return
                case "players limit":
                    this.$store.dispatch('notify', 'слишком много игроков')
                    return
                case "name garbbed":
                    this.userNameShake = true
                    return
                case "game closed":
                    this.$store.dispatch('notify', 'игра уже идет')
                    return
                default:
                    alert("unknown problem")
                    return
            }
            this.freezeBack()
            this.$store.dispatch("game/joinLobby", {code: this.code.toUpperCase(), name: this.userName})
            this.setActive(false, this.$router.push.bind(this.$router, vals.routes.waitingRoom))
        },
        backPrepare() {
            this.unFreezeBack()
            this.setActive(false)
        },
        setActive(value, callback) {
            const vm = this
            if (value) {
                vm.viewActive = value
            } else {
                vm.labelsActive = value
            }
            setTimeout(() => {
                if (value) {
                    vm.labelsActive = value
                } else {
                    vm.viewActive = value
                }
                setTimeout(() => {
                    if (callback) callback()
                }, vals.delays.slide)
            }, vals.delays.slide / 4)
        }
    },
    mounted() {
        this.setActive(true)
    },
    components: {
    BackArrow,
    RegularContainer,
    ContainedCodeInput,
    ContainedInput
},
    mixins: [lang, back]
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";

.code {
    position: absolute;
    top: 15%;
    left: 0;
    width: 30%;
    text-align: right;
    font-size: 3em;
    color: @foreground;
}

</style>