<template>
<div>
  <HrContainer top="15%" :active="viewActive">
    <div class="title">
      {{lang.app_name}}
    </div>
  </HrContainer>
  <RegularContainer top="35%" right 
    button @click="createClick"
    :active="viewActive"> {{lang.create}} </RegularContainer>
  <RegularContainer top="55%" 
    button @click="joinClick" 
    :active="viewActive"> {{lang.join}} </RegularContainer>
  <RegularContainer top="75%" right 
    button @click="aboutClick"
    :active="viewActive"> {{lang.about}} </RegularContainer>
</div>
</template>

<script>
import lang from '@/mixins/lang'
import vals from '@/assets/vals.json'
import back from '@/mixins/back'
import RegularContainer from '@/components/RegularContainer'
import HrContainer from '@/components/HrContainer.vue'

export default {
  data() {
    return {
      viewActive: false
    }
  },
  methods: {
    createClick () {
      this.goMenu(vals.routes.create)
    },
    joinClick () {
      this.goMenu(vals.routes.join)
    },
    aboutClick () {
      this.goMenu(vals.routes.about)
    },
    goMenu (view) {
      this.unFreezeBack()
      this.viewActive = false
      const vm = this
      setTimeout(() => [
        vm.$router.push(view)
      ], vals.delays.slide)
    }
  },
  mounted() {
    this.viewActive = true
  },
  components: {
    RegularContainer,
    HrContainer
  },
    mixins: [lang, back]
  }
</script>

<style lang="less" scoped>
.title {
  width: 90%;
  margin-left: 5%;
  margin-top: 4%;
  text-align: left;
}
</style>