<template>
    <div>
        <RegularContainer
            right
            top="30%"
            :active="viewActive"
        >победил <br/> {{ gameState.winner }} </RegularContainer>
        <RegularContainer
            button
            top="70%"
            :active="viewActive"
            @click="goToMenu"
        >в меню</RegularContainer>
    </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'

import vals from '@/assets/vals.json'
import back from '@/mixins/back'
import lang from '@/mixins/lang'
import RegularContainer from '@/components/RegularContainer.vue'

const { mapState } = createNamespacedHelpers('game')

export default {
    data() {
        return {
            viewActive: false,
        }
    },
    computed: {
        ...mapState(['gameState'])
    },
    methods: {
        goToMenu() {
            this.unFreezeBack()
            this.$store.commit('setGameState', {})
            this.setActive(false, this.$router.push.bind(this.$router, vals.routes.menu))
        },
        setActive(value, callback) {
            const vm = this
            vm.viewActive = value
            setTimeout(() => {
                if (callback) callback()
            }, vals.delays.slide)
        }
    },
    mounted() {
        this.setActive(true)
    },
    components: {
        RegularContainer,
    },
    mixins: [lang, back]
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";
</style>