<template>
    <div>
        <BackArrow @hide-request="backPrepare" :delay="backDelay" :active="viewActive"></BackArrow>
        <transition name="slide-right">
            <div class="codeInfo" v-if="viewActive">
                <span class="title">{{ lang.code }}:</span>
                <span class="code">{{ code }}</span>
            </div>
        </transition>
        <RegularContainer button top="50%" :active="viewActive && iAmIniter" @click="start">{{ lang.start }}</RegularContainer>
        <transition name="slide-right">
            <div class="joinedInfo" v-if="viewActive">
                <span class="joined">{{ lang.joined }}</span>
                <span class="count">{{playersCount}}</span>
                <span class="people">{{ lang.persons }}</span>
            </div>
        </transition>
    </div>
</template>

<script>
import { createNamespacedHelpers } from 'vuex'

import lang from '@/mixins/lang'
import back from '@/mixins/back'
import vals from '@/assets/vals.json'
import BackArrow from "@/components/BackArrow.vue"
import RegularContainer from '@/components/RegularContainer.vue'

const { mapGetters, mapState } = createNamespacedHelpers('game')

export default {
    data() {
        return {
            viewActive: false,
            backDelay: vals.delays.slide,
        }
    },
    methods: {
        start() {
            this.$store.dispatch("game/send", JSON.stringify({
                cmd: "start"
            }))
        },
        backPrepare() {
            this.setActive(false)
            this.$store.dispatch("game/exit")
        },
        setActive(value, callback) {
            const vm = this
            vm.viewActive = value
            setTimeout(() => {
                if (callback) callback()
            }, vals.delays.slide)
        },
    },
    computed: {
        ...mapGetters(['code', 'playersCount']),
        ...mapState(['iAmIniter', 'config']),
        gameState () {
            return this.$store.state.game.gameState.state
        }
    },
    watch: {
        gameState(val) {
            if (val === this.config.states.choosing) {
                this.unFreezeBack()
                this.setActive(false, this.$router.push.bind(this.$router, vals.routes.game))
            }
        }
    },
    mounted() {
        this.setActive(true)
    },
    beforeDestroy() {
        this.setActive(false)
    },
    components: {
        BackArrow,
        RegularContainer
    },
    mixins: [lang, back]
}
</script>

<style lang="less" scoped>
@import "@/bundle.less";

.codeInfo {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    color: @foreground;

    .title {
        align-self: flex-start;
        margin-left: 5%;
        font-size: 4em;
    }

    .code {
        align-self: flex-end;
        margin-right: 5%;
        margin-top: 5%;
        font-size: 5.5em;
    }
}

.joinedInfo {
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    color: @foreground;
    .joined {
        align-self: flex-start;
        margin-left: 2%;
        font-size: 2.5em;
    }

    .count {
        align-self: flex-end;
        margin-right: 5%;
        margin-top: 4%;
        font-size: 3.5em;
    }

    .people {
        align-self: flex-end;
        margin-right: 10%;
        font-size: 2.5em;
    }
}
</style>